{% extends "main.html" %}
{% load static %}

{% block content %}

<script src="{% static 'javascripts/add_city_suggest_coordinates.js' %}" defer></script>

<div class="addCityContainer center">
    <form method="POST">
        {% csrf_token %}
        <label class="inline" for="name">Gyvenvietės pavadinimas<span class="red inline">*</span>: </label>
        <input id="name" type="text" placeholder="pvz. Elektrėnai" name="name">

        <br>
        <button type="button" onclick="fetchCoordinates()" class="submit">Surasti duomenis pagal įvestą miestą</button>

        <label for="administrativeDivision">Savivaldybė: </label>
        <input id="administrativeDivision" placeholder="pvz. Elektrėnų savivaldybė" type="text" name="administrative_division">

        <label for="country">Šalis:</label>
        <input id="country" type="text" placeholder="Lietuva" name="country">

        <label class="inline" for="latitude">Ilguma<span class="red inline">*</span>: </label>
        <input id="latitude" type="number" step="0.00001" placeholder="pvz. 54.78666" name="latitude">

        <label class="inline" for="longitude">Platuma<span class="red inline">*</span>: </label>
        <input id="longitude" type="number" step="0.00001" placeholder="pvz. 24.67084" name="longitude">

        <br>
        <input class="submit" type="submit" value="Pridėti miestą">
    </form>
</div>

{% endblock %}