{% extends "main.html" %}
{% block content %}
<div class="center">
    <h3>{{ city.name }}, {{ city.administrative_division }}</h3>
    <p>Dabartinė oro temperatūra: {{ temperature }}°C</p>
    <p>Vėjo greitis: {{ wind_speed }} km/h</p>

    <a href="{% url 'weathers:edit_city' city.id %}">Redaguoti</a>
    <a href="{% url 'weathers:delete_city' city.id %}">Ištrinti miestą</a>
</div>
<div class="forecast center">
    <h2 class="center">Orų prognozė: {{ city.name }}</h2>
    <table class="center" border="1">
        <tr>
            <th>Kada</th>
            <th>Temperatūra, °C)</th>
            <th>Vėjo greitis, m/s</th>
            <th>Detalės</th>
        </tr>
        {% for forecast in forecasts %}
        <tr>
            <td>{{ forecast.forecastTimeUtc }}</td>
            <td>{{ forecast.airTemperature }}</td>
            <td>{{ forecast.windSpeed }}</td>
            <td>{{ forecast.conditionCode }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

