{% extends "main.html" %}

{% block content %}
<div class="forecast center">
    <h2 class="center">Orų prognozė: Vilnius</h2>
    <table class="center" border="1">
        <tr>
            <th>Kada</th>
            <th>Temperatūra, °C)</th>
            <th>Vėjo greitis, m/s</th>
            <th>Detalės</th>
        </tr>
        {% for forecast in forecasts %}
        <tr>
            <td>{{ forecast.forecastTimeUtc }}</td>
            <td>{{ forecast.airTemperature }}</td>
            <td>{{ forecast.windSpeed }}</td>
            <td>{{ forecast.conditionCode }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}