{% extends "main.html" %}

{% block content %}

<div class="center">
    <h2>Miestų sąrašas</h2>
    <table border="1">
        <tr>
            <th>Miestas</th>
            <th>Ilguma, platuma</th>


            <th>Temperatūra</th>
            <th>Vėjo greitis</th>
            <th>Atnaujinta</th>

            <th>Veiksmai</th>
        </tr>
        {% for city in cities %}
        <tr>
            <td>
                <a href="{% url 'weathers:city' city.id %}">{{ city.name }}</a>
            </td>
            <td>{{ city.latitude }}, {{ city.longitude }}</td>

            {% with weather=city.cityweathers_set.last %}
            <td>{{ weather.temperature }}°C</td>
            <td>{{ weather.wind_speed }} km/h</td>
            <td>{{ weather.updated_at }}</td>
            {% endwith %}

            <td class="cityButtons">
                <form action="{% url 'weathers:delete_city' city.id %}" method="POST">
                    {% csrf_token %}
                    <button class="submit" type="submit">Šalinti</button>
                </form>
                <a href="{% url 'weathers:edit_city' city.id %}">
                    <button class="submit" type="button">Redaguoti</button>
                </a>
                <a href="{% url 'weathers:update_weather' city.id %}">
                    <button class="submit" type="button">Atnaujinti</button>
                </a>
                <a href="{% url 'weathers:city' city.id %}">
                    <button class="submit" type="button">Plačiau</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}