{% extends "main.html" %}

{% block content %}
<div>
    <h2 class="beige">
        {{ city.name }}
        {% if city.administrative_division %}, {{ city.administrative_division }}{% endif %}
        {% if city.country %}, {{ city.country }}{% endif %}
    </h2>
    <p class="beige">Dabartinė oro temperatūra: {{ temperature }}°C</p>
    <p class="beige">Vėjo greitis: {{ wind_speed }} km/h</p>


    <a class="border" href="{% url 'weathers:edit_city' city.id %}">Redaguoti</a>
    <a class="border" href="{% url 'weathers:delete_city' city.id %}">Ištrinti miestą</a>
    <a class="border" href="{% url 'weathers:city' city.id %}">Originalus lentelės formatas</a>

    <br>
    <p>Duomenų šaltinis: open-meteo.com</p>
    <section>
        <table class="center weeklyForecastTable">
            <tr>
              <th class="night">Naktis (02:00)</th>
              <th class="morning">Rytas (08:00)</th>
              <th class="afternoon">Diena (14:00)</th>
              <th class="evening">Vakaras (20:00)</th>
            </tr>

        </table>
        {% for date, times in weekly_forecast.items %}
        <h3 class="center">{{ date }}</h3>
        <table class="center weeklyForecastTable">
            <tr>
              <th>Oro temp.,°C</th>
              <th>Vėjo greitis, m/s</th>
              <th>Santikinys drėgnis</th>
              <th>Oras</th>
            </tr>
            
            <tr class="night">
                <td>{{ times.night.temperature}}</td>
                <td>{{ times.night.wind_speed}}</td>
                <td>{{ times.night.humidity}}</td>
                <td>{{ times.night.condition}}</td>
            </tr>

            <tr class="morning">
                <td>{{ times.morning.temperature}}</td>
                <td>{{ times.morning.wind_speed}}</td>
                <td>{{ times.morning.humidity}}</td>
                <td>{{ times.morning.condition}}</td>
            </tr>

            <tr class="afternoon">
                <td>{{ times.afternoon.temperature}}</td>
                <td>{{ times.afternoon.wind_speed}}</td>
                <td>{{ times.afternoon.humidity}}</td>
                <td>{{ times.afternoon.condition}}</td>
            </tr>

            <tr class="evening">
                <td>{{ times.evening.temperature}}</td>
                <td>{{ times.evening.wind_speed}}</td>
                <td>{{ times.evening.humidity}}</td>
                <td>{{ times.evening.condition}}</td>
            </tr>
        </table>
        {% endfor %}
    </section>

</div>
{% endblock %}