{% extends "main.html" %}

{% block content %}
<div>
    <h1>Orai {{ city }}</h1>

    <div class="center">
        <h2>Dabar:</h2>
        {% if current_weather %}
            <p>Temperatūra: {{ current_weather.airTemperature }}°C</p>
            <p>Vėjas: {{ current_weather.windSpeed }} m/s</p>
            <p>Būdas: {{ current_weather.conditionCode }}</p>
        {% else %}
            <p>No data</p>
        {% endif %}
    </div>

    <section>
        <h2>Šiandien:</h2>
        <ul>
            {% for f in hourly_forecast %}
                <li>{{ f.forecastTimeUtc }} - {{ f.airTemperature }}°C, v {{ f.windSpeed }} m/s</li>
                <br>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2>Savaitei:</h2>

        {% for date, times in weekly_forecast.items %}
        <h3 class="center">{{ date }}</h3>
        <table class="center">
            <tr>
              <th>oro temp.,°C</th>
              <th>vėjo greitis, m/s</th>
              <th>santikinys drėgnis</th>
              <th>oras</th>
            </tr>
            
            <tr class="night">
                <td>{{ times.night.temperature}}</td>
                <td>{{ times.night.wind_speed}}</td>
                <td>{{ times.night.humidity}}</td>
                <td>{{ times.night.condition}}</td>
            </tr>

            <tr class="morning">
                <td>{{ times.morning.temperature}}</td>
                <td>{{ times.morning.wind_speed}}</td>
                <td>{{ times.morning.humidity}}</td>
                <td>{{ times.morning.condition}}</td>
            </tr>

            <tr class="afternoon">
                <td>{{ times.afternoon.temperature}}</td>
                <td>{{ times.afternoon.wind_speed}}</td>
                <td>{{ times.afternoon.humidity}}</td>
                <td>{{ times.afternoon.condition}}</td>
            </tr>

            <tr class="evening">
                <td>{{ times.evening.temperature}}</td>
                <td>{{ times.evening.wind_speed}}</td>
                <td>{{ times.evening.humidity}}</td>
                <td>{{ times.evening.condition}}</td>
            </tr>
        </table>
        {% endfor %}
    </section>

</div>
{% endblock %}