{% extends "main.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/homepage.css' %}">
<script src="{% static 'javascripts/homepage.js' %}" defer></script>

<form class="homeForm center noBG">
    <div class="inputs noBG">
        <input type="text" id="titleInput" placeholder="Antraštė" hidden>
        <input type="text" id="noteInput" placeholder="Surašyti užduotį...">
    </div>
    <div class="buttons">
        <button type="submit">Įsiminti</button>
        <button id="cancelBtn" hidden>Atšaukti</button>
    </div>
</form>
<br>
<h2>Darbų sąrašas:</h2>
<div class="noteContainer">
</div>

{% endblock %}